.homeIntroductionHrader{
    font-size: 30px;

}

.homeIntroductionParagraph{
   text-align: center;
    font-size:18px;
}

#goImage{
    height: 100px;
    width: 100px;
}

button{
    background-color: #2a6496;
    color: #ffffff;
}