.header{
	position: absolute;
	padding: 7px;
	text-align: center;
	color: black;
	width: 100%;
	font-size: 20px;
	background: #e3e024;
}

.container{
	position: absolute;
	margin-left: 160px;
	top: 35px;
}

.full-cpu{
	position: absolute;
	top: 0px;
	left: 260px;
	height: 555px;
}

.component {
	position: absolute;
	transition: all .4s ease-in-out;
	filter: drop-shadow(1px 0px 0px yellow) drop-shadow(-1px -1px 2px yellow);
	-webkit-filter: drop-shadow(1px 0px 0px yellow) drop-shadow(-1px -1px 2px yellow);
}
.component:hover{
	filter: drop-shadow(3px 1px 2px yellow) drop-shadow(-2px -2px 3px yellow);
	-webkit-filter: drop-shadow(3px 1px 2px yellow) drop-shadow(-2px -2px 3px yellow);
	z-index: 100;
	transform: scale(1.4);
}

.processor{
	top: 216px;
	left: 487px;
	height: 123px;
}


.w{
	width: 600px;
    height: 400px;
    background: red;
}

.question-box{
	border-radius: 5px;
	border: 2px solid black;
	padding: 10px;
	width: 225px;
}

.fan{
	top: 171px;
	left: 357px;
	height: 160px;
}

.speeker{
	top: 376px;
	left: 826px;
	height: 92px;
}

.PCI{
	top: 465px;
	left: 336px;
	height: 15px;
}

.south_bridge{
	top: 385px;
	left: 485px;
	height: 38px;
}

.powersupply {
	top: 32px;
	left: 359px;
	height: 165px;
}