.header{
	position: absolute;
	padding: 7px;
	text-align: center;
	color: black;
	width: 100%;
	font-size: 20px;
	background: #e3e024;
}

#title{
	color: white;
	text-align: center;
	font-family: 'Lobster', cursive;
	padding: 10px;
	font-size: 26px;
}

#step1questionbox{
	position: absolute;
	top: 600px;
	text-align: center;
}

.container{
	position: absolute;
	margin-left: 160px;
	top: 35px;
}

.full-cpu{
	position: absolute;
	top: 0px;
	left: 260px;
	height: 555px;
}

.component {
	position: absolute;
	transition: all .4s ease-in-out;
	filter: drop-shadow(1px 0px 0px yellow) drop-shadow(-1px -1px 2px yellow);
	-webkit-filter: drop-shadow(1px 0px 0px yellow) drop-shadow(-1px -1px 2px yellow);
}
.component:hover{
	filter: drop-shadow(3px 1px 2px yellow) drop-shadow(-2px -2px 3px yellow);
	-webkit-filter: drop-shadow(3px 1px 2px yellow) drop-shadow(-2px -2px 3px yellow);
	z-index: 100;
	transform: scale(1.4);
}

.question-box{
	border-radius: 5px;
	border: 2px solid black;
	padding: 10px;
	width: 225px;
}

/*Step 1 image CSS*/
.powersupply {
	top: 32px;
	left: 359px;
	height: 165px;
}

.processor{
	top: 216px;
	left: 487px;
	height: 123px;
}

.fan{
	top: 171px;
	left: 357px;
	height: 160px;
}

.speeker{
	top: 376px;
	left: 826px;
	height: 92px;
}

/*Step 2 image CSS*/
#motherboard{
	position: absolute;
	top: 0px;
	left: 64px;
	height: 555px;
}

#PCI{
	top: 465px;
	left: 336px;
	height: 15px;
}

#south-bridge{
	top: 385px;
	left: 485px;
	height: 38px;
}


.hidden{
	display: none;
}

.redBox{
	filter: drop-shadow(0px 0px 2px red) drop-shadow(0px 0px 1px red);
	-webkit-filter: drop-shadow(0px 0px 2px red) drop-shadow(0px 0px 2px red);
	border: 1px solid #d50000;
}

.greenBox{
	filter: drop-shadow(0px 0px 2px #00bd00) drop-shadow(0px 0px 1px #00bd00);
	-webkit-filter: drop-shadow(0px 0px 2px #00bd00) drop-shadow(0px 0px 2px #00bd00);
	border: 1px solid green;
}

.correct-sign{

}

.homeIntroductionHeader{
    font-size: 30px;
}

.homeIntroductionParagraph{
   	text-align: justify;
	font-size: 17px;
	padding-top: 65px;
	font-family: verdana;
	color: #3a414b;
}

.goImage{
    height: 100px;
    width: 100px;
}

button{
    background-color: #2a6496;
    color: #ffffff;
}
