.processor{
	position: absolute;
    top: 178px;
	left: 155px;
	height: 142px;
	transition: all .4s ease-in-out;
	z-index: 999;
}
.full-cpu{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 600px;
}
.image>.processor:hover{
	transform: scale(1.6);
	filter: drop-shadow(3px 1px 2px yellow) drop-shadow(-2px -2px 3px yellow);


}

.w{
	width: 600px;
    height: 400px;
    background-color: red;
}

.e{
	width: 540px;
    height: 350px;
  
}

